job-scout-apply-nudge.json
{
  "updatedAt": "2026-04-20T15:50:19.763Z",
  "createdAt": "2026-04-20T15:50:19.446Z",
  "id": "WZ2udZNRq3zgdfQM",
  "name": "Job Scout - Apply Nudge",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "nudge_1",
      "name": "Daily 5PM PT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "nudge_2",
      "name": "Query Notion New Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/YOUR_NOTION_DATABASE_ID/query",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ntn_c11964516799KN4p17wJ9fPsGGiaebwenZKkYQ5CsEp9m1"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"filter\": {\"property\": \"Status\", \"select\": {\"equals\": \"New\"}}, \"sorts\": [{\"property\": \"Score\", \"direction\": \"descending\"}], \"page_size\": 20}",
        "options": {}
      }
    },
    {
      "id": "nudge_3",
      "name": "Format Nudge Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        300
      ],
      "parameters": {
        "jsCode": "\nconst resp = $input.first().json;\nconst results = resp.results || [];\n\nif (results.length === 0) {\n  return [{ json: {\n    content: '\u2705 **Job Scout \u2014 All caught up!** No unreviewed jobs in Notion. Check back after tomorrow morning\\'s run.',\n    username: 'Job Scout'\n  }}];\n}\n\nconst notionUrl = 'https://www.notion.so/YOUR_NOTION_DATABASE_ID';\nconst top = results.slice(0, 5);\n\nlet msg = `\ud83d\udcec **Job Scout \u2014 Evening Check-In**\\n`;\nmsg += `You have **${results.length} unreviewed job${results.length !== 1 ? 's' : ''}** waiting in Notion.\\n\\n`;\n\nfor (const p of top) {\n  const props = p.properties || {};\n  const title = props['Job Title']?.title?.[0]?.text?.content || 'Unknown';\n  const company = props['Company']?.rich_text?.[0]?.text?.content || '';\n  const score = props['Score']?.number ?? '?';\n  const priority = props['Priority']?.select?.name || '';\n  const applyUrl = props['Apply URL']?.url || '';\n  const pageUrl = p.url || '';\n\n  const priBadge = priority === 'High' ? '\ud83d\udd25' : priority === 'Medium' ? '\u2b50' : '\u2022';\n  msg += `${priBadge} **${score}** \u2014 **${title}** @ ${company}\\n`;\n  if (applyUrl) msg += `   Apply: ${applyUrl}\\n`;\n}\n\nmsg += `\\n[\ud83d\udccb Open all in Notion](${notionUrl})`;\nmsg += `\\n\\n*Update Status to \"Applied\" in Notion when you apply \u2014 you got this!*`;\n\nreturn [{ json: { content: msg, username: 'Job Scout' } }];\n"
      }
    },
    {
      "id": "nudge_4",
      "name": "Post to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "username",
              "value": "Job Scout"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Daily 5PM PT": {
      "main": [
        [
          {
            "node": "Query Notion New Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Notion New Jobs": {
      "main": [
        [
          {
            "node": "Format Nudge Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Nudge Message": {
      "main": [
        [
          {
            "node": "Post to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Daily 5PM PT": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "dc22d7a8-a6f3-4bd5-b6af-81e8396e4c19",
  "versionCounter": 10,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-20T15:50:19.451Z",
      "createdAt": "2026-04-20T15:50:19.451Z",
      "role": "workflow:owner",
      "workflowId": "WZ2udZNRq3zgdfQM",
      "projectId": "wKfdBpMS0JmOoV5j",
      "project": {
        "updatedAt": "2025-11-16T22:10:59.419Z",
        "createdAt": "2025-11-16T22:06:13.609Z",
        "id": "wKfdBpMS0JmOoV5j",
        "name": "Gadget Man <your.email@example.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-11-16T22:06:13.610Z",
            "createdAt": "2025-11-16T22:06:13.610Z",
            "userId": "c7ebb70a-2b7c-4092-ab61-54402a19a5fe",
            "projectId": "wKfdBpMS0JmOoV5j",
            "user": {
              "updatedAt": "2026-06-12T04:12:22.000Z",
              "createdAt": "2025-11-16T22:06:12.457Z",
              "id": "c7ebb70a-2b7c-4092-ab61-54402a19a5fe",
              "email": "your.email@example.com",
              "firstName": "Gadget",
              "lastName": "Man",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-16T22:11:18.519Z",
                "personalization_survey_n8n_version": "1.119.2",
                "companyType": "personal",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "pNZcjNdl4m4fAflb",
                "userActivatedAt": 1764586854414,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1774392316845
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-06-11",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}